body {
	font-family:helvetica;
	color:#4e85f4;
	background-color: #d7e1f4

}

h1 {
	font-family:'Lato';
	font-weight:400;
	color:#4e85f4;
}
h2{
	font-family:'Lato';
	font-weight:300;
	color:#4e85f4;
}
p{	
	font-family:'Lato';
	font-weight:100;
	color:#4e85f4;
}
span{
	color:#eda36a;
	font-family:'Lato';
	font-weight:300;

}
ul{
	color:#eda36a;
	font-family:'Lato';
	font-weight:100;
	font-size:21px;
}
a{
	color:#4e85f4;
}