body {
	font-family:helvetica;
	color:#4e85f4;
	background-color: #d7e1f4

}

h2 {
	font-family:NEOTERIC;
	color:#4e85f4;
}
h3{
	font-family:NEOTERIC;
	color:#4e85f4;
}
p{	
	font-family:NEOTERIC;
	color:#4e85f4;
}
span{
	color:#ed934e;
	font-family:KG Counting Stars;
}
ul{
	color:#ed934e;
	font-family:NEOTERIC;
	font-size:14px;
}