body {
	font-family:helvetica;
	color:#4e85f4;
	background-color: #d7e1f4

}

h2 {
	font-family:NEOTERIC;
	color:#4e85f4;
}
h4{
	font-family:NEOTERIC;
	color:#4e85f4;
}
p{	
	font-family:NEOTERIC;
	color:#2a6dea;
}
span{
	color:#f2c691;
	font-family:Console;
}