body{
	background-color:#f6f2f1;
}
p{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
}
h1{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
}
h3{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
}
h4{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
}