*{
	background-color: #a7f4b7;
}
p{
	color:#ffffff;
	font-family:cursive;
}
ol{
	color:#ffffff;
	font-family:Helvetica;
}
h1{
	color:#ffffff;
	font-family:cursive;
}
a{
	color:#ff0000;
	font-family:Helvetica;
}

div{
	
}