body{
	background-color:#ecf6f9;
}
header img{
	width:100%;
	
	margin-bottom: -3px;
	
}
nav{
	position:absolute;
}
p{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
}
ul{
	font-family:'Roboto';
	font-weight:300;
	color:#a8a69a;
	list-style-type:none;
	margin-left:0px;
	margin-right:0px;
	margin-top:-4px;
	padding:0;
}
li{
	display:inline;
	margin-left:70px;
	margin-right:70px;
}
h2{
	font-family:'Roboto';
	font-weight:700;
	color:#a8a69a;
}
a{
	text-decoration:none;
  	font-family:'Roboto';
  	font-weight:300;
	color:#f6f2f1;
  	font-size:25px;
}
a:hover{
  	font-size:20px;
  
}

.top_orange_bar{
 	padding:10px;
	width:980px;
	height:20px;
	background-color:#fab365;
  	text-align:center;
  	margin-top:-6px;
  	z-index:1;
}
.bottom_orange_bar{
 	padding:10px;
	width:980px;
	height:20px;
	background-color:#fab365;
  	clear:both;
  
}
#screen{
	width:1000px;
	height:800px;
	background-color:#f6f2f1;
  	margin-right:auto;
  	margin-left:auto;

}
#left-align{
  display:block;
  float:left;
  width:500px; 
}
#above{
  display:block;
  float:right;
  margin-right:50px;
  margin-top:90px;
  width:320px;
  
}
.front_pg_position{
  width:450px;
  margin-left:50px;
  margin-top:60px;
  display:block;
  float:left;
  border:1px black solid;
  
}

footer {
  width:1000px;
  margin-right:auto;
  margin-left:auto;
}

div section img{
	display:block;
	width:400px;
	/*margin-top:90px;
	margin-right:50px;*/
  	float:right;
}

#resume_screen{
	width:1000px;
	height:950px;
	background-color:#f6f2f1;
  	margin-right:auto;
  	margin-left:auto;
}

#work_screen{
	width:1000px;
	height:850px;
	background-color:#f6f2f1;
  	margin-right:auto;
  	margin-left:auto;
}

article {
	clear:right;
	border: 1px solid red;
	float:right;
	width:410px;
}
section article div {
	border: 1px solid black;
	height:200px;
	width:200px;
	display:block;
	float:left;
}

section article div.thumbnail img{
	width:130px;
	height:130px;
	padding:35px;
}

.d{
	width:400px;
	height:400px;
  	margin-left:50px;
  	margin-top:90px;
  	display:inline;
  	float:left;
  	position:absolute;
  	
  	
}
.pictu_title{
	width:130px;
	height:130px;
	margin-left:0px;
	margin-top:0px;
	margin-right:20px;
	z-index:90;
	float:left;
}

.work_image{
	width:400px;
	height:400px;
	background-color:#ecf6f9;
	float:right;
	margin-top:90px;
	margin-right:50px;
	border:1px black solid;
}
.work_image_pic{
	width:350px;
}
.icons{
	width:100px;
	float:left;
	display:block;
	
}
.icons:hover{
	width:80px;
}