body{
	background-color:#ecf6f9;
}
p{
	font-family:Helvetica;
	color:#a8a69a;
}
ul{
	font-family:Helvetica;
	color:#a8a69a;
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	display:inline;
	margin-left:20px;
	margin-right:20px;
}
h2{
	font-family:Helvetica;
	color:#a8a69a;
}
a{
	text-decoration:none;
}
.orange_bar{
	width:2000px;
	height:2000px;
	background-color:#fab365;
	border:1px solid black;
}
#screen{
	width:2000px;
	height:100px;
	background-color:#f6f2f1;
	border:1px solid black;

}